name: Go Build and Release

on:
  push:
    branches: [ main ]
    paths-ignore:
      - 'docs/**'
      - '.github/**'
      - '**.md'
      - 'LICENSE'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - 'docs/**'
      - '.github/**'
      - '**.md'
      - 'LICENSE'
  workflow_dispatch:
    inputs:
      version:
        description: 'version'
        required: false
        default: 'latest'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    
    - name: Setup golang
      uses: actions/setup-go@v2
      with:
        go-version: '^1.17'

    - run: git clone https://github.com/gek64/gek.git
    - run: curl -LOJ https://github.com/gek64/build-apps-scripts/raw/main/gobuilder.sh
    - run: ln -s ${{ github.workspace }}/gek ../gek
    - run: bash gobuilder.sh --all
    - run: ls .. -R -las
    
    - name: Delete latest release
      run: git push --delete origin latest


    - name: Upload artifacts
      uses: actions/upload-artifact@v2
      with:
        name: build_files
        path: bin/*
  
  release:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Download all artifacts
      uses: actions/download-artifact@v2
      with:
        name: build_files
        path: bin

    - name: Release
      uses: ncipollo/release-action@v1
      with:
        artifacts: "bin/*"
        tag: ${{ github.event.inputs.version }}
        token: ${{ secrets.GITHUB_TOKEN }}

